# https://github.com/sphinx-doc/sphinx
Sphinx==8.2.3

# https://github.com/sphinx-contrib/spelling
sphinxcontrib-spelling==8.0.2

# https://github.com/jbms/sphinx-immaterial
# https://jbms.github.io/sphinx-immaterial/keys.html#keys-extension-role
sphinx-immaterial[keys]==0.13.9

# https://packaging.pypa.io
packaging

# https://github.com/pylint-dev/pylint
pylint==4.0.4

# https://pypi.org/project/sphinxcontrib-video
sphinxcontrib-video==0.4.1
