name: Pylint

on:
  push:
    branches-ignore:
    - 'wip.*'
    - 'pr.*'
    tags:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    # https://docs.github.com/en/actions/reference/runners/github-hosted-runners#standard-github-hosted-runners-for-public-repositories
    runs-on: ubuntu-24.04

    steps:
    # - https://github.com/actions/checkout
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Setup Python virtual environment for Pylint
      run: |
        python3 ./doc/setup_venv.py
        echo "${PWD}/doc/_venv/bin/" >> $GITHUB_PATH
        echo "PYTHONPATH=${PWD}/doc/directives/:${PYTHONPATH}" >> $GITHUB_ENV

    - name: Check setup_venv.py
      run: pylint --rcfile=doc/.pylintrc doc/setup_venv.py

    - name: Check run_build.py
      run: pylint --rcfile=doc/.pylintrc doc/run_build.py

    - name: Check youtube.py
      run: pylint --rcfile=doc/.pylintrc doc/directives/youtube.py

    - name: Check conf.py
      run: pylint --rcfile=doc/.pylintrc --const-naming-style=snake_case doc/conf.py
